page-mecontacter {
    
    .champ{
        height: 30px;
        margin-bottom: 10px;
    }
    
    form {
       position: absolute;
        margin-top: 80px;
        margin-left: 25%;
        
    }
    
    .submit{
        background-color: #ce1d5a;
        padding: 10px;
        color: white;
        border: 1px solid #ce1d5a;
        width: 100px;
        margin-top:50px;
        margin-left: 45px;
        
    }
    
    #body{
    position: relative;

 
    }
    
    #figure{
        position: absolute;
        left:0;
        margin-top: 200px;
        
    }
    
    #titre{
        
        position: absolute;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        font-size: 20px;
        color:#464646;
        background-color: rgba(255,255,255,0.5);
//        text-shadow: 0px 0px 1px black;
        
    }
    
    #resultat{
        
        position: absolute;
        left:0;
        margin-top:50px;
        text-align: center;
        width: 100%;
        color:#ce1d5a;
        background-color: white;
        bottom: 60px;
        font-size: 17px;
        
    }
    
      #figure2
    {
    position: absolute; 
    width: 70%;
   
   
    
    }
    
    .tabbar.show-tabbar {
        display: none;
       
    }

    
   
}

